:root {
    --main-color: #939393;
    --anim-time:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    width: 600px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    background: rgb(46, 46, 46);
}

h1 {
    font-size: 30px;
    margin: 0;
    font-family: 'Great Vibes';
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nav-list {
    width: 200px;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    margin: 0 15px;
    position: relative;
}

.nav-link::after {
    content: "";
    top: 200%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.3);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-color);
    opacity: 0;
    transition: opacity var(--anim-time);
    transition: transform var(--anim-time);
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1
}

.nav-link>a {
    text-decoration: none;
    color: var(--main-color);
}

.hero {
    height: 300px;
    background: #0a0a4f;
    background: linear-gradient(180deg, rgb(46, 46, 46), rgb(98, 255, 0));
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-box {
    width: 600px;
    height: 231px;
    display: block;
    position: relative;
}

.info-box>p {
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container>img {
    box-shadow: 10px 10px 35px 2px rgba(0,0,0,0.49);
    border-radius: 5px;
}

.hwo-writer {
    height: 300px;
    background-color: rgb(98, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box2 {
    width: 500px;
    height: 265px;
    display: flex;
    justify-content: space-between;
}

.info-box2>p {
    width: 250px;
    margin: 0;
}